{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
           </tr>
           {% for news in news %}
           <tr>
               <td>{{news.title}}</td>
               <td>{{news.text|truncatechars:20}}</td>
               <td>{{news.category.name}}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет</h2>
   {% endif %}
{% endblock content %}